{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Survey Overview</h2>
    <hr/>
    <a class="button-link" href="{% url 'survey_create' %}">Create a new Survey</a>
    <br>
    <table>
        <tr>
            <th>DRAFT</th>
            <th>PUBLISHED</th>
            <th>CLOSED</th>
        </tr>
        <tr>
            <td>
                {% for name in draft_surveys %}
                    {{ name }}<br>
                    <a href="">EDIT</a> |
                    <a href="">PUBLISH</a> |
                    <a href="">DELETE</a><br>
                {% empty %}
                    No drafts available.
                {% endfor %}
            </td>
            <td>
                {% for name in published_surveys %}
                    {{ name }}<br>
                    <a href="">CLOSE</a> |
                    <a href="">DRAFT</a> |
                    <a href="">RESULTS</a><br>
                {% empty %}
                    No published surveys.
                {% endfor %}
            </td>
            <td>
                {% for name in closed_surveys %}
                    {{ name }}<br>
                    <a href="">RESULTS</a> |
                    <a href="">REPUBLISH</a><br>
                {% empty %}
                    No closed surveys.
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}