{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Survey Overview</h2>
    <hr/>
    <a class="button-link" href="{% url 'survey_create' %}">Create a new Survey</a>
    <br>
    <table>
        <tr>
            <th>DRAFT</th>
            <th>PUBLISHED</th>
            <th>CLOSED</th>
        </tr>
        <tr>
            <td>
                {% for survey in draft_surveys %}
                    {{ survey.name }}<br>
                    <a href="edit/{{ survey.id }}" onclick="return confirm('Are you sure you want to edit the survey?')">EDIT</a> |
                    <a href="publishsurvey/{{ survey.id }}" onclick="return confirm('Are you sure you want to publish the survey?')">PUBLISH</a> |
                    <a href="deletesurvey/{{ survey.id }}" onclick="return confirm('Are you sure you want to delete the survey?')">DELETE</a><br>
                {% empty %}
                    No drafts available.
                {% endfor %}
            </td>
            <td>
                {% for survey in published_surveys %}
                    {{ survey.name }}<br>
                    <a href="closesurvey/{{ survey.id }}" onclick="return confirm('Are you sure you want to close the survey?')">CLOSE</a> |
                    <a href="draftsurvey/{{ survey.id }}" onclick="return confirm('Are you sure you want to draft the survey?')">DRAFT</a> |
                    <a href="">RESULTS</a><br>
                {% empty %}
                    No published surveys.
                {% endfor %}
            </td>
            <td>
                {% for survey in closed_surveys %}
                    {{ survey.name }}<br>
                    <a href="">RESULTS</a> |
                    <a href="republishsurvey/{{ survey.id }}" onclick="return confirm('Are you sure you want to republish the survey?')">REPUBLISH</a><br>
                {% empty %}
                    No closed surveys.
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}