{% extends "base.html" %}

{% block title %}Take Survey{% endblock %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/survey_taker.css' %}">
{% endblock %}

{% block content %}
<div class="survey-container">
    <form method="post" action="{% url 'qa_submit' %}">
        {% csrf_token %}
        <input type="hidden" name="survey_id" value="{{ survey.id }}">
        <input type="hidden" name="user" value="{{ user }}">


        <div class="survey-header">
            <h2 class="survey-title">{{ survey.name }}</h2>
            <p class="survey-description">{{ survey.description }}</p>
            <p class="survey-version">Republished Version: {{ survey.republished }}</p>
        </div>


        <div class="questions-section">
            {% for question in questions %}
                <fieldset class="question-fieldset">
                    <legend class="question-legend">{{ question.question }}</legend>
                    <table class="answers-table">
                        <colgroup>
                            <col style="width: 10%;"> 
                            <col style="width: 90%;"> 
                        </colgroup>
                        {% if question.type == "Radio" %}
                            {% for answer in question.answers.all %}
                                <tr>
                                    <td>
                                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                                    </td>
                                    <td>
                                        <label>{{ answer.answer }}</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% elif question.type == "Checkboxes" %}
                            {% for answer in question.answers.all %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="question_{{ question.id }}" value="{{ answer.id }}">
                                    </td>
                                    <td>
                                        <label>{{ answer.answer }}</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </fieldset>
            {% endfor %}
        </div>

        <div class="button-container">
            <button type="submit" class="submit-button">Submit</button>
            <a class="button-link button-link-match" href="{% url 'home' %}">HOME</a>
        </div>
    </form>
</div>
{% endblock %}
