{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h1>{{ survey.name }}</h1>
    <!-- {% debug %} -->
    <form method="post">
        {% csrf_token %}
        {% for question, form in question_forms %}
            <div>
                <p>{{ question.question }}</p>
                {{ form.answer }}
            </div>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
{% endblock %}
