Hello
<!DOCTYPE html>
<html>
<head>
    <title>Published Surveys</title>
</head>
<body>
    <h1>Published Surveys</h1>
    <table border = "1">
    <tr>
        <th>Survey ID</th>
        <th>Survey Items</th>
        <th>Survey Description</th>
        <th>Actions</th>
    </tr>
        {% for survey in surveys %}
    <tr>
        <td>{{ survey.id }}</td>
        <td>{{ survey.name }}</td>
        <td>{{ survey.description }}</td>
        <td><a href="qa/{{survey.id}}">Click to Start</a></td>
        {% empty %}
            <td>No Published Surveys</td>
        {% endfor %}
    </tr>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
    <button type="submit">Log Out</button>
    </form>
</body>
</html>