<html>
<h1>Survey Comeplete,Thank you</h1>

<!--<h2>Survey Results for Survey ID: {{ survey_id }}</h2>  

{% for question_id, stats in grouped_stats.items %}
    <h2>Question ID: {{ question_id }}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Answer ID</th>
                <th>Count</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{ stat.answer_id }}</td>
                    <td>{{ stat.count }}</td>
                    <td>{{ stat.percentage|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
</html>
-->